:root {
	--mle-red: #E8412E;
	--mle-light-grey: #f7f7f7;
	--mle-grey: #d8d8d8;
	--mle-dark-grey: #6d6c73;
	--mle-darker-grey: #65646a;
	--mle-darkest-grey: #515055;
}

body {
	font-family: 'Lato', sans-serif;
}

picture {
	display: block;
}

picture img,
picture source {
	width: 100%;
}

/*
----------------------------
Link Elements
----------------------------
*/

a,
a:hover {
	color: var(--mle-red);
	text-decoration: none;
}

/*
----------------------------
IMG Elements
----------------------------
*/

img {
	max-width: 100%;
}


/*
----------------------------
Icons
----------------------------
*/

.icon-tiny {
	width: 15px;
	height: 15px;
}

.icon-logo {
	width: 125px;
	height: 66px;
}

/*
----------------------------
Header Component
----------------------------
*/

.header {
	border-top: 7px solid var(--mle-red);
}

.header__nav-item {
	color: inherit;
	white-space: nowrap;
}

.header__nav-item.is-active {
	background-color: var(--mle-darker-grey);
}

.header__nav-item:hover {
	text-decoration: none;
	color: inherit;
}

.header__nav-item:not(.is-active):hover {
	background-color: var(--mle-dark-grey);
	color: white;
}

.header__nav {
	background-color: var(--mle-dark-grey);
	color: white;
	border-bottom: 1px solid var(--mle-grey);
}

.header__contact {
	background-color: var(--mle-darker-grey);
}

@media (max-width: 768px) {
	.header__container {
		max-width: none;
		padding: 15px;
		text-align: center;
	}

	.header__nav {
		max-height: 0px;
		transition: max-height 0.25s;
		overflow: hidden;
	}

	.header.is-active .header__nav {
		max-height: 500px;
	}
}

@media (min-width: 768px) {

	.header__contact {
		min-width: 400px;
		background-color: transparent;
	}

	.header__nav {
		color: inherit;
		background-color: transparent;
		border: 1px solid var(--mle-grey);
		border-left-width: 0;
		border-right-width: 0;
	}

	.header__nav-item {
		margin-bottom: -1px;
		border-left: 1px solid var(--mle-grey);
	}

	.header__nav-item.is-active {
		background-color: var(--mle-light-grey);
	}

	.header__nav-item:last-child {
		border-right: 1px solid var(--mle-grey);
	}

}

/*
----------------------------
Hamburger Component
----------------------------
*/

.hamburger {
	background-color: var(--mle-dark-grey);
	color: white;
	border-radius: 10px;
	padding: 7px 12px;
	border: 0;
}

.hamburger__icon {
	width: 20px;
	height: 20px;
	position: relative;
	top: -2px;
	margin-left: 5px;
}

.hamburger__icon--close {
	display: none;
}

.hamburger.is-active .hamburger__icon,
.is-active .hamburger .hamburger__icon {
	display: none;
}

.hamburger.is-active .hamburger__icon--close,
.is-active .hamburger .hamburger__icon--close {
	display: inline;
}


/*
----------------------------
Box Component
----------------------------
*/

.box {
	background-color: var(--mle-light-grey);
	border-color: var(--mle-grey);
}

@media (max-width: 540px) {
	.box__container--carousel {
		padding-left: 0;
		padding-right: 0;
	}
}


/*
----------------------------
Extend Carousel Component
----------------------------
*/

.carousel-caption {
	background-color: rgba(0,0,0,0.8);
	right: auto;
	left: 0;
	bottom: 0;
	width: 100%;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 768px) {
	.carousel-caption__text {
		width: 75%;
	}
}

@media (min-width: 768px) {
	.carousel-caption {
		position: absolute;
	}
}

/*
----------------------------
Extend Button Component
----------------------------
*/

.btn-link,
.btn-link:hover {
	color: var(--mle-red);
}

.btn-mle-red,
.btn-mle-red:hover {
	background-color: var(--mle-red);
	color: white;
}

@media (max-width: 575px) {
	.btn-sm-block {
		width: 100%;
	}
}

/*
----------------------------
Footer Component
----------------------------
*/

.footer {
	background-color: var(--mle-dark-grey);
	border-bottom: 7px solid var(--mle-darkest-grey);
	color: white;
}

.footer a {
	color: white;
}


/*
----------------------------
Map Component
----------------------------
*/

.map {
	width: 100%;
	padding-top: 35%;
	position: relative;
	min-height: 150px;
}

.map iframe {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/*
----------------------------
Blog Header
----------------------------
*/

.blog-header {
	background-image: url('/img/blog-post-banner.jpg');
	background-size: auto 140%;
	background-position: center;
	position: relative;
	height: 300px;
	display: flex;
	align-items: center;
}

.blog-header:before {
	content: "";
	display: block;
	background-color: rgba(0,0,0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: 575px) {
	.blog-header {
		background-size: cover;
	}
}


/*
----------------------------
Utilities
----------------------------
*/

.post-image {
	max-width: 200px;
}

.text-mle-red {
	color: var(--mle-red) !important;
}

.text-black {
	color: black !important;
}

.border-mle-grey {
	border-color: var(--mle-grey) !important;
}

.editor {
	height: 12em;
}

.editor .ql-editor {
	background-color: white;
}