{% extends "partials/default.html" %}
{% set path = '/blog' %}
{% block content %} 	
	<div class="p-2 box border-bottom mb-5">
		<div class="container d-flex align-items-center">
			<a href="/">Home</a>
			<img src="img/circle-arrow.svg" class="icon-tiny mx-2" alt="Arrow in a circle">
			<span>Blog</span>
		</div>
	</div>
	<div class="container">
		<h1>MLE Power Blog</h1>
		<h4 class="font-weight-light mb-5">All the day to day goings on in the fantastic and exciting renewable power sector.</h4>
			
		<div class="row mb-5">
			<div class="col-md-8 mb-3 mb-md-0">
				
				<article class="pb-4 border-bottom mb-4">
					<div class="row">
						<div class="col-md-4">
							<img src="/img/dog.jpg" alt="A picture of a dog" class="mb-3">
						</div>
						<div class="col-md-8">
							<a href="/blog-post" class="mb-2"><h2>Lorum Ipsum</h2></a>
							<div class="border-top border-bottom py-1 mb-2">
								<div class="d-flex align-items-center">
									<img src="/img/clock.svg" alt="An icon of a clock" class="icon-tiny mr-2">
									<div>9th February 2020</div>
								</div>
							</div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Aliquam id felis vitae mi pellentesque tincidunt. Donec nec mauris tellus. Maecenas diam aliquam id... <a href="/blog-post">(Read more)</a>
						</div>
					</div>
				</article>

				<article class="pb-4 border-bottom mb-4">
					<div class="row">
						<div class="col-md-4">
							<img src="/img/dog2.jpg" alt="A picture of a dog" class="mb-3">
						</div>
						<div class="col-md-8">
							<a href="/blog-post" class="mb-2"><h2>Lorum Ipsum</h2></a>
							<div class="border-top border-bottom py-1 mb-2">
								<div class="d-flex align-items-center">
									<img src="/img/clock.svg" alt="An icon of a clock" class="icon-tiny mr-2">
									<div>9th February 2020</div>
								</div>
							</div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Aliquam id felis vitae mi pellentesque tincidunt. Donec nec mauris tellus. Maecenas diam aliquam id... <a href="/blog-post">(Read more)</a>
						</div>
					</div>
				</article>

				<article class="pb-4 border-bottom mb-4">
					<div class="row">
						<div class="col-md-4">
							<img src="/img/dog3.jpg" alt="A picture of a dog" class="mb-3">
						</div>
						<div class="col-md-8">
							<a href="/blog-post" class="mb-2"><h2>Lorum Ipsum</h2></a>
							<div class="border-top border-bottom py-1 mb-2">
								<div class="d-flex align-items-center">
									<img src="/img/clock.svg" alt="An icon of a clock" class="icon-tiny mr-2">
									<div>9th February 2020</div>
								</div>
							</div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Aliquam id felis vitae mi pellentesque tincidunt. Donec nec mauris tellus. Maecenas diam aliquam id... <a href="/blog-post">(Read more)</a>
						</div>
					</div>
				</article>

				<article class="pb-4 border-bottom mb-4">
					<div class="row">
						<div class="col-md-4">
							<img src="/img/dog4.jpg" alt="A picture of a dog" class="mb-3">
						</div>
						<div class="col-md-8">
							<a href="/blog-post" class="mb-2"><h2>Lorum Ipsum</h2></a>
							<div class="border-top border-bottom py-1 mb-2">
								<div class="d-flex align-items-center">
									<img src="/img/clock.svg" alt="An icon of a clock" class="icon-tiny mr-2">
									<div>9th February 2020</div>
								</div>
							</div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Aliquam id felis vitae mi pellentesque tincidunt. Donec nec mauris tellus. Maecenas diam aliquam id... <a href="/blog-post">(Read more)</a>
						</div>
					</div>
				</article>

				<article class="pb-4 border-bottom mb-4">
					<div class="row">
						<div class="col-md-4">
							<img src="/img/dog5.jpg" alt="A picture of a dog" class="mb-3">
						</div>
						<div class="col-md-8">
							<a href="/blog-post" class="mb-2"><h2>Lorum Ipsum</h2></a>
							<div class="border-top border-bottom py-1 mb-2">
								<div class="d-flex align-items-center">
									<img src="/img/clock.svg" alt="An icon of a clock" class="icon-tiny mr-2">
									<div>9th February 2020</div>
								</div>
							</div>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Aliquam id felis vitae mi pellentesque tincidunt. Donec nec mauris tellus. Maecenas diam aliquam id... <a href="/blog-post">(Read more)</a>
						</div>
					</div>
				</article>
			</div>

			<aside class="col-md-4">
				<div class="mb-4">
					<h3 class="mb-3">Categories</h3>
					<ul class="list-unstyled">
						<li><a href="/blog">Turbines</a></li>
						<li><a href="/blog">News &amp; Events</a></li>
						<li><a href="/blog">Charity</a></li>
						<li><a href="/blog">Sunshine</a></li>
						<li><a href="/blog">Moonlight</a></li>
						<li><a href="/blog">Good times </a></li>
						<li><a href="/blog">Solar panels</a></li>
					</ul>
				</div>

				<div class="mb-4">
					<h3 class="mb-3">Tags</h3>
					<ul class="list-unstyled">
						<li><a href="/blog">Turbines</a></li>
						<li><a href="/blog">News &amp; Events</a></li>
						<li><a href="/blog">Charity</a></li>
						<li><a href="/blog">Sunshine</a></li>
						<li><a href="/blog">Moonlight</a></li>
						<li><a href="/blog">Good times </a></li>
						<li><a href="/blog">Solar panels</a></li>
					</ul>
				</div>
			</aside>
		</div>

	</div>
{% endblock %}