{% extends "partials/default.html" %}
{% block content %} 	
	<div class="box border-bottom mb-5">
		<div class="container box__container--carousel py-sm-4">
			
			<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="false">
			    <div class="carousel-inner">
			        <div class="carousel-item active">
			            <img src="img/slide1.jpg" class="d-block w-100" alt="MLE Power wind turbines at work">
			            <div class="carousel-caption d-flex flex-column align-items-center">
			                <h2 class="mb-2">The power behind your peace of mind</h2>
			                <p class="mb-0 carousel-caption__text">MLE Power are manufacturers of industrial, commercial, residential renewable technology. We're known across the globe for our quality and standards.</p>
			            </div>
			        </div>
			        <div class="carousel-item">
			            <img src="img/slide2.jpg" class="d-block w-100" alt="Our solar panels">
			            <div class="carousel-caption d-flex flex-column align-items-center">
			                <h2 class="mb-2">High quality solar panels</h2>
			                <p class="mb-0 carousel-caption__text">We are a leading international supplier of solar panel technology. Our products are built to last in all weather conditions and overcome any challenges your business may face.</p>
			            </div>
			        </div>
			        <div class="carousel-item">
			            <img src="img/slide3.jpg" class="d-block w-100" alt="Engineer working on solar panel">
			            <div class="carousel-caption d-flex flex-column align-items-center">
			            	<h2 class="mb-2">Experts on call 24/7</h2>
			            	<p class="mb-0 carousel-caption__text">Our service includes access to installation experts and the most experienced of engineers in the field. We have a proven track record of delivering projects on time and on budget.</p>
			            </div>
			        </div>
			    </div>
			    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
			        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    </a>
			    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
			        <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    </a>
			</div>

		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-4 mb-5">
				<img src="img/pic-turbine.jpg" class="mb-4 w-100" alt="Wind turbine in a grassy field">
				<h4>Our Products</h4>
				<p>All of our products are designed and manufactured to our own highest standards and yours.</p>
				<p>We are able to meet your individual needs and requirements if you require any variations from our standard specifications.</p>
				<a href="/products">
					<div class="d-flex align-items-center">
						<div class="flex-grow-0 text-nowrap">
							View All Products
						</div>
						<img src="img/circle-arrow.svg" class="icon-tiny ml-2" alt="Arrow in a circle">
					</div>
				</a>
			</div>
			<div class="col-md-4 mb-5">
				<img src="img/pic-warehouse.jpg" class="mb-4 w-100" alt="MLE Power construction warehouse">
				<h4>About MLE Power</h4>
				<p>We are a leading manufacturer of renewable technology, known globally for delivering power solutions to meet every requirement.</p>
				<p>We have the capacity and experience to meet your power needs and we are flexible to respond to each challenge, be it large or small.</p>
				<a href="#" data-scroll="js-faq" data-scroll-offset="-30">
					<div class="d-flex align-items-center">
						<div class="flex-grow-0 text-nowrap">
							Frequently Asked Questions
						</div>
						<img src="img/circle-arrow.svg" class="icon-tiny ml-2" alt="Arrow in a circle">
					</div>
				</a>
			</div>
			<div class="col-md-4 mb-5">
				<img src="img/pic-meeting.jpg" class="mb-4 w-100" alt="Get in touch with MLE Power">
				<h4>Get in Touch</h4>
				<p>From initial enquiry through to the delivery, commissioning and servicing of our products, you will find that our service is exemplary.</p>
				<p>Whether you require a standard specification generator set or you have specialist requirements get in touch.</p>
				<a href="/about">
					<div class="d-flex align-items-center">
						<div class="flex-grow-0 text-nowrap">
							Contact Us
						</div>
						<img src="img/circle-arrow.svg" class="icon-tiny ml-2" alt="Arrow in a circle">
					</div>
				</a>
			</div>

			<div class="col-md-6 mb-5">
				<h4 class="mb-4">The MLE Power Way</h4>
				<img src="img/pic-panels.png" alt="MLE Solar Panels" class="float-left w-50 mr-4 mb-2">
				<p>You can rely on MLE Power; we have the experience to provide the energy solutions wherever you need them. We operate globally and have installed our products in some of the most challenging environments.<p>
				<p>Whether it is a large consignment or a single wind turbine, whatever conditions your generator will be working in, our consistently high standards of manufacture, delivery, commissioning and post-delivery support give you the peace of mind you need for your business.</p>
			</div>

			<div class="col-md-6 mb-5">
				<h4 class="mb-4">Our Commitment</h4>
				<p>At MLE Power we offer full project capability from the initial idea stage to manufacture through to installation and maintenance.</p>
				<p>Additionally as a principal supplier for the sustainable power generation system, we take responsibility for the sourcing and manufacture of:</p>
				<ul>
					<li>Fuel Tanks and Fuel Systems</li>
					<li>Sound Attenuation</li>
					<li>Power &amp; Control Cabling</li>
					<li>Control System</li>
					<li>Factory Acceptance Tests</li>
					<li>Site Acceptance Tests</li>
					<li>Load Testing</li>
					<li>Commissioning</li>
				</ul>
			</div>

		</div>
	</div>

	<div class="pb-5">
		<div class="container" id="accordion">
			<div class="row">
				<div class="col-md-3 mb-3">
					<h4 class="js-faq">Frequently Asked Questions</h4>
					<p>If your question isn't listed here, feel free to contact us with your query below.</p>
				</div>
				<div class="col-md-9">
				    <div class="card mb-3">
				        <div class="card-header" id="headingOne">
				            <h5 class="mb-0">
				                <button class="btn btn-link" data-toggle="collapse" data-target="#faq1">
				                    FAQ Question #1
				                </button>
				            </h5>
				        </div>
				        <div id="faq1" class="collapse" data-parent="#accordion">
				            <div class="card-body">
				               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor blandit nunc, non gravida mi sollicitudin eget. Proin at lacinia nunc, ut finibus odio. Duis viverra vehicula pellentesque. Aenean viverra hendrerit lacus sit amet consequat.</p>
				               <p>Etiam laoreet facilisis nibh id rhoncus. Nunc finibus arcu a porta molestie. Duis tempor ut elit sed dapibus. Suspendisse porttitor nibh arcu, at bibendum orci consequat non. Quisque faucibus, urna nec bibendum viverra, mauris quam ultricies odio, eu pharetra libero risus sit amet diam. Mauris tincidunt mi dui, at pretium risus scelerisque eget. Vestibulum convallis magna et ante malesuada, ut ultricies mi semper. In vel porta mi. Curabitur nisl purus, varius sit amet massa vitae, pretium egestas lorem.</p>
				               <p>Pellentesque a tincidunt ante. Maecenas mattis dignissim urna a ultrices. Mauris lacinia placerat erat. Vestibulum ex dui, elementum vel mi eget, elementum tempus justo. Aenean efficitur non arcu eget convallis. Fusce tristique molestie sollicitudin. Suspendisse pretium arcu eu justo porta, gravida dignissim purus mattis. Donec tincidunt neque ac egestas consequat.</p>
				            </div>
				        </div>
				    </div>

				    <div class="card mb-3">
				        <div class="card-header" id="headingOne">
				            <h5 class="mb-0">
				                <button class="btn btn-link" data-toggle="collapse" data-target="#faq2">
				                    FAQ Question #2
				                </button>
				            </h5>
				        </div>
				        <div id="faq2" class="collapse" data-parent="#accordion">
				            <div class="card-body">
				               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor blandit nunc, non gravida mi sollicitudin eget. Proin at lacinia nunc, ut finibus odio. Duis viverra vehicula pellentesque. Aenean viverra hendrerit lacus sit amet consequat.</p>
				               <p>Etiam laoreet facilisis nibh id rhoncus. Nunc finibus arcu a porta molestie. Duis tempor ut elit sed dapibus. Suspendisse porttitor nibh arcu, at bibendum orci consequat non. Quisque faucibus, urna nec bibendum viverra, mauris quam ultricies odio, eu pharetra libero risus sit amet diam. Mauris tincidunt mi dui, at pretium risus scelerisque eget. Vestibulum convallis magna et ante malesuada, ut ultricies mi semper. In vel porta mi. Curabitur nisl purus, varius sit amet massa vitae, pretium egestas lorem.</p>
				               <p>Pellentesque a tincidunt ante. Maecenas mattis dignissim urna a ultrices. Mauris lacinia placerat erat. Vestibulum ex dui, elementum vel mi eget, elementum tempus justo. Aenean efficitur non arcu eget convallis. Fusce tristique molestie sollicitudin. Suspendisse pretium arcu eu justo porta, gravida dignissim purus mattis. Donec tincidunt neque ac egestas consequat.</p>
				            </div>
				        </div>
				    </div>

				    <div class="card mb-3">
				        <div class="card-header" id="headingOne">
				            <h5 class="mb-0">
				                <button class="btn btn-link" data-toggle="collapse" data-target="#faq3">
				                    FAQ Question #3
				                </button>
				            </h5>
				        </div>
				        <div id="faq3" class="collapse" data-parent="#accordion">
				            <div class="card-body">
				               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor blandit nunc, non gravida mi sollicitudin eget. Proin at lacinia nunc, ut finibus odio. Duis viverra vehicula pellentesque. Aenean viverra hendrerit lacus sit amet consequat.</p>
				               <p>Etiam laoreet facilisis nibh id rhoncus. Nunc finibus arcu a porta molestie. Duis tempor ut elit sed dapibus. Suspendisse porttitor nibh arcu, at bibendum orci consequat non. Quisque faucibus, urna nec bibendum viverra, mauris quam ultricies odio, eu pharetra libero risus sit amet diam. Mauris tincidunt mi dui, at pretium risus scelerisque eget. Vestibulum convallis magna et ante malesuada, ut ultricies mi semper. In vel porta mi. Curabitur nisl purus, varius sit amet massa vitae, pretium egestas lorem.</p>
				               <p>Pellentesque a tincidunt ante. Maecenas mattis dignissim urna a ultrices. Mauris lacinia placerat erat. Vestibulum ex dui, elementum vel mi eget, elementum tempus justo. Aenean efficitur non arcu eget convallis. Fusce tristique molestie sollicitudin. Suspendisse pretium arcu eu justo porta, gravida dignissim purus mattis. Donec tincidunt neque ac egestas consequat.</p>
				            </div>
				        </div>
				    </div>

				    <div class="card mb-3">
				        <div class="card-header" id="headingOne">
				            <h5 class="mb-0">
				                <button class="btn btn-link" data-toggle="collapse" data-target="#faq4">
				                    FAQ Question #4
				                </button>
				            </h5>
				        </div>
				        <div id="faq4" class="collapse" data-parent="#accordion">
				            <div class="card-body">
				               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor blandit nunc, non gravida mi sollicitudin eget. Proin at lacinia nunc, ut finibus odio. Duis viverra vehicula pellentesque. Aenean viverra hendrerit lacus sit amet consequat.</p>
				               <p>Etiam laoreet facilisis nibh id rhoncus. Nunc finibus arcu a porta molestie. Duis tempor ut elit sed dapibus. Suspendisse porttitor nibh arcu, at bibendum orci consequat non. Quisque faucibus, urna nec bibendum viverra, mauris quam ultricies odio, eu pharetra libero risus sit amet diam. Mauris tincidunt mi dui, at pretium risus scelerisque eget. Vestibulum convallis magna et ante malesuada, ut ultricies mi semper. In vel porta mi. Curabitur nisl purus, varius sit amet massa vitae, pretium egestas lorem.</p>
				               <p>Pellentesque a tincidunt ante. Maecenas mattis dignissim urna a ultrices. Mauris lacinia placerat erat. Vestibulum ex dui, elementum vel mi eget, elementum tempus justo. Aenean efficitur non arcu eget convallis. Fusce tristique molestie sollicitudin. Suspendisse pretium arcu eu justo porta, gravida dignissim purus mattis. Donec tincidunt neque ac egestas consequat.</p>
				            </div>
				        </div>
				    </div>

				    <div class="card mb-3">
				        <div class="card-header" id="headingOne">
				            <h5 class="mb-0">
				                <button class="btn btn-link" data-toggle="collapse" data-target="#faq5">
				                    FAQ Question #5
				                </button>
				            </h5>
				        </div>
				        <div id="faq5" class="collapse" data-parent="#accordion">
				            <div class="card-body">
				               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor blandit nunc, non gravida mi sollicitudin eget. Proin at lacinia nunc, ut finibus odio. Duis viverra vehicula pellentesque. Aenean viverra hendrerit lacus sit amet consequat.</p>
				               <p>Etiam laoreet facilisis nibh id rhoncus. Nunc finibus arcu a porta molestie. Duis tempor ut elit sed dapibus. Suspendisse porttitor nibh arcu, at bibendum orci consequat non. Quisque faucibus, urna nec bibendum viverra, mauris quam ultricies odio, eu pharetra libero risus sit amet diam. Mauris tincidunt mi dui, at pretium risus scelerisque eget. Vestibulum convallis magna et ante malesuada, ut ultricies mi semper. In vel porta mi. Curabitur nisl purus, varius sit amet massa vitae, pretium egestas lorem.</p>
				               <p>Pellentesque a tincidunt ante. Maecenas mattis dignissim urna a ultrices. Mauris lacinia placerat erat. Vestibulum ex dui, elementum vel mi eget, elementum tempus justo. Aenean efficitur non arcu eget convallis. Fusce tristique molestie sollicitudin. Suspendisse pretium arcu eu justo porta, gravida dignissim purus mattis. Donec tincidunt neque ac egestas consequat.</p>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="pt-5">
			<div class="container" id="accordion">
				<div class="row">
					<div class="col-md-3 mb-3">
						<h4 class="js-faq">Get in Touch</h4>
						<p>If you have any questions about MLE Power or any of the products and/or services that we offer, please get in touch.</p>
					</div>
					<div class="col-md-9">
						<form class="box border p-3 mb-5">
							<h3 class="mb-3">Submit an enquiry</h3>
							<div class="row">

								<div class="col-12 col-sm-6 col-md-4 mb-4">
									<div class="form-group mb-0">
										<label for="title">Title</label>
										<select class="form-control" id="title">
											<option>Mr</option>
											<option>Mrs</option>
											<option>Miss</option>
											<option>Ms</option>
										</select>
									</div>
								</div>

								<div class="col-12 col-sm-6 col-md-4 mb-4">
									<div class="form-group mb-0">
										<label for="first-name">First Name</label>
										<input type="text" class="form-control" id="first-name">
									</div>
								</div>

								<div class="col-12 col-sm-6 col-md-4 mb-4">
									<div class="form-group mb-0">
										<label for="last-name">Last Name</label>
										<input type="text" class="form-control" id="last-name">
									</div>
								</div>

								<div class="col-12 col-sm-6 col-md-4 mb-4">
									<div class="form-group mb-0">
										<label for="email">Email Address</label>
										<input type="email" class="form-control" id="email">
									</div>
								</div>

								<div class="col-12 col-sm-6 col-md-4 mb-4">
									<div class="form-group mb-0">
										<label for="contact">Contact Number</label>
										<input type="contact" class="form-control" id="contact">
									</div>
								</div>

								<div class="col-12 col-sm-6 col-md-4 mb-4">
									<div class="form-group mb-0">
										<label for="product">Product Query</label>
										<input type="product" class="form-control" id="product">
									</div>
								</div>

								<div class="col-12 mb-4 editor d-flex flex-column">
									<div class="form-group mb-0">
										<label>Message</label>
										<textarea class="form-control" rows="6"></textarea>
									</div>
								</div>

								<div class="col-12 text-center mb-3">
									<button type="button" class="btn btn-lg btn-mle-red">Send</button>
								</div>
							</div>
						</form>

						<div class="map">
							<iframe frameborder="0" style="border:0"
									src="https://www.google.com/maps/embed/v1/view?zoom=10&center=53.3811%2C-1.4701&key=AIzaSyCOTnRQAiFFpQ8Zd_OnX--3iOS4Tj18Ouo"
									allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
	</div>
{% endblock %}